// cta
.cta-wrapper {
  padding: 60px;
  background: linear-gradient(10deg, #3A3FB6 0%, #e9c3ada9 100%);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  border-radius: 30px;

  .button-wrapper {
    margin-top: 20px;
  }
}

// mobile - llamados en mobile.scss
@mixin cta--md() {
  .cta-wrapper {
    padding: 60px 30px;
  }
}