@use '../utilities/variables' as vars;
@use '../base/typo' as typo;

// notification popup
.notification-popup {
  max-width: 245px;
  height: auto;
  padding: 12px;
  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
  align-items: center;
  background: linear-gradient(to bottom, #EAEAF5 0%, #C9D2F4 100%);
  border-radius: 12px;

  p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #232359;
    margin-bottom: 0px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}