@use '../utilities/variables' as vars;
@use '../base/typo' as typo;

// product card
.product-card {
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: center;
  border-radius: 60px;

  &.product-card-home {
    background-color: rgba(58, 63, 182, 0.7);
    position: relative;
    z-index: 2;
  }

  // cards en nuestros productos
  &.product-card-inner {
    background: linear-gradient(180deg, #3A3FB6 0%, #25265F 100%);
  }
}

// cards en home
.product-card-content {
  width: 50%;
}

.product-card-name-wrapper {
  display: inline-block;
  padding: 18px 45px;
  border-radius: 100px;
  margin-bottom: 30px;

  &.product-hunter,&.product-hunter-inner {
    background-color: vars.$acento-b;
  }

  &.product-farmer,&.product-farmer-inner {
    background-color: vars.$acento-c;
  }

  &.product-hunter-inner,&.product-farmer-inner {
    h4 {
      color: vars.$blanco;
    }
  }
}

.product-card-img {
  width: 50%;
  height: 600px;
  border-radius: 40px;
  user-select: none;

  &.product-img-1 {
    background: url(../img/home-product-1.webp) no-repeat center / cover;
  }

  &.product-img-2 {
    background: url(../img/home-product-2.webp) no-repeat center / cover;
  }
}

// cards en nuestros productos
.product-card-inner-img-wrapper {
  width: 50%;
  min-height: 540px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  user-select: none;

  .inner-product-3-img {
    width: 570px;
    max-width: 100%;
  }

  .inner-product-4-img {
    width: 358px;
    max-width: 100%;
  }
}

// mobile - llamados en mobile.scss
@mixin product-card--sm() {
  .product-card {
    flex-flow: column nowrap;
  }

  .product-card-content {
    width: 100%;
    order: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h3,
    h4,
    p {
      text-align: center;
    }
  }

  .product-card-img {
    width: 100%;
    height: 300px;
    order: 1;
  }

  .product-card-inner-img-wrapper {
    width: 100%;
    min-height: auto;

    .inner-product-3-img {
      width: 570px;
      max-width: 100%;
    }

    .inner-product-4-img {
      width: 358px;
      max-width: 100%;
    }
  }
}