@use '../utilities/variables' as vars;
@use '../base/typo' as typo;

// clients logos
.clients-logos {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  align-items: center;

  > :nth-child(1) {
    max-width: 190px;
  }
}

// post header
.post-header-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

// differences desktop component
.differences-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.differences-btns {
  width: 100%;
  max-width: 1050px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.differences-center {
  width: 100%;
  max-width: 740px;
  padding: 30px;
  background-color: vars.$blue;
  border-radius: 20px;
  margin: 60px 0px 60px 0px;

  p.diff-text {
    font-size: 25px;
    line-height: 35px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

.diff-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 27px 40px;
  margin: 0;
  font-family: typo.$font-gregario;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
  text-decoration: none;
  color: vars.$blanco;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid vars.$blanco;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
  min-width: 295px;

  &.active {
    border: 2px solid vars.$blue;
    background-color: vars.$blue;
  }

  &:hover {
    border: 2px solid vars.$acento-c;
    background-color: vars.$acento-c;
  }
}

// differences mobile
.differences-wrapper-mobile {
  display: none;
}

// numbers wrapper
.numbers-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 30px 0px;
  position: relative;
  z-index: 1;
}

.numbers-wrapper {
  display: flex;
  align-items: center;
  max-width: 700px;
  gap: 60px;
  width: 100%;
  position: relative;
  z-index: 2;
  user-select: none;
}

.numbers-col-a,
.numbers-col-b {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;

  div {
    padding: 25px;
    background: linear-gradient(180deg, #21214ACC 0%, #21214AFF 100%);
    border-radius: 25px;
    box-shadow: 0px 15px 30.4px 0px rgba(33, 33, 74, 0.38);
  }

  span {
    color: vars.$acento-a;
  }

  .white {
    color: vars.$blanco;
  }

  p:nth-of-type(1) {
    font-size: 56px;
    line-height: 56px;
    font-weight: 600;
  }

  p:nth-of-type(2) {
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
  }

  p:nth-of-type(3) {
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
  }
}

.numbers-wrapper-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 740px;
  height: 100%;
  z-index: 1;
  background-image: url('../img/numbers-img.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
}

// sales copilot container
.sales-copilot-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.sales-copilot-wrapper {
  max-width: vars.$contenedor-width;
  padding-inline: 30px;
  margin: auto;
  position: relative;
  z-index: 2;
  min-height: 500px;
  ;

  .notification-popup,
  .decor {
    position: absolute;
    user-select: none;
  }

  .popup-1 {
    left: 10%;
    top: 190px;
  }

  .popup-2 {
    right: 25%;
    top: 30px;
  }

  .popup-3 {
    right: 8%;
    top: 230px;
  }

  .decor-1 {
    left: 20%;
    top: 280px;
  }

  .decor-2 {
    right: 14%;
    top: 30px;
  }

  .decor-3 {
    right: 8%;
    top: 320px;
  }
}

.sales-copilot-img {
  max-width: 100%;
  position: relative;
}

.sales-copilot-mask {
  width: 100%;
  min-height: 330px;
  background-color: vars.$bg-blue;
  position: absolute;
  z-index: 1;
  bottom: 0px;
}

// products home wrapper
.products-home-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;

  > :first-child {
    margin-bottom: 30px;
  }

  .elipses-bg {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
  }
}

.product-card {
  background-color: rgba(58, 63, 182, 0.7);
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: center;
  border-radius: 60px;
  position: relative;
  z-index: 2;
}

.product-card-content {
  width: 50%;

  .product-name-wrapper-a,
  .product-name-wrapper-b {
    display: inline-block;
    padding: 18px 45px;
    border-radius: 100px;
    margin-bottom: 30px;
  }

  .product-name-wrapper-a {
    background-color: vars.$acento-b;
  }

  .product-name-wrapper-b {
    background-color: vars.$acento-c;
  }
}

.product-card-img {
  width: 50%;
  height: 600px;
  border-radius: 40px;

  &.product-img-1 {
    background: url(../img/home-product-1.webp) no-repeat center / cover;
  }

  &.product-img-2 {
    background: url(../img/home-product-1.webp) no-repeat center / cover;
  }
}

// Testimonials
.testimonials-wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
}

.testimonials-left {
  width: 30%;
}

.testimonials-right {
  width: 70%;
}

.testimonial-card {
  width: 100%;
  min-height: 312px;
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: vars.$blue;
  border-radius: 30px;
  user-select: none;

  p {
    &:nth-of-type(2) {
      font-size: 18px;
      margin-bottom: 0px;
    }
  }
}


// mobile - llamados en mobile.scss
@mixin home--lg() {
  .clients-logos {
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
    text-align: center;

    > :nth-child(1) {
      max-width: 100%;
    }
  }

  .differences-wrapper {
    display: none;
  }

  .differences-wrapper-mobile {
    display: block;
  }

  .testimonials-wrapper {
    flex-flow: column nowrap;
    gap: 0px;
  }

  .testimonials-left {
    width: 100%;
  }

  .testimonials-right {
    width: 100%;
  }
}

@mixin home--md() {
  .post-header-wrapper {
    max-width: 100%;
  }

  .numbers-container {
    justify-content: center;
  }

  .numbers-wrapper {
    align-items: center;
    max-width: 100%;
    gap: 30px;
    width: 100%;
    flex-flow: column nowrap;
    padding: 0px 30px;
  }

  .numbers-col-a,
  .numbers-col-b {
    width: 100%;
    gap: 30px;

    p:nth-of-type(1) {
      font-size: 40px;
      line-height: 40px;
    }

    p:nth-of-type(2) {
      font-size: 25px;
      line-height: 33px;
    }

    p:nth-of-type(3) {
      font-size: 18px;
      line-height: 27px;
    }
  }

  .numbers-wrapper-img {
    background-position: right;
  }

  .sales-copilot-container {
    display: none;
  }
}

@mixin home--sm() {
  .product-card {
    flex-flow: column nowrap;
  }

  .product-card-content {
    width: 100%;
    order: 2;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    h3,
    h4,
    p {
      text-align: center;
    }
  }

  .product-card-img {
    width: 100%;
    height: 300px;
    order: 1;
  }
}