// variables color
$blue: #3A3FB6;
$light-blue: #4551CB;
$dark-blue: #313497;
$bg-blue: #232359;
$blanco: #EAEAF5;
$acento-a: #E9C3AD;
$acento-b: #6DC6D7;
$acento-c: #8194FF;
$acento-d: #F98B6B;


// variables utiles
$contenedor-width: 1280px;
