// basic
@use '../utilities/variables' as vars;

// Basico
html {
  scroll-behavior: smooth;
}

.container {
  max-width: vars.$contenedor-width;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.title-wrapper-a {
  max-width: 50%;
  margin: auto;
  margin-bottom: 60px;

  h3 {
    text-align: center
  }

  p {
    text-align: center;
  }
}

// utils
.mb {
  margin-bottom: 100px;
}

.nm {
  margin-bottom: 0px;
}

// gradients
.gradient-home {
  background: radial-gradient(circle at top right, #3A3FB6 0%, #3A3FB6 30%, transparent 100%), #191C50;
}

// mobile - llamados en mobile.scss
@mixin basic--lg() {
  .title-wrapper-a {
    max-width: 100%;
  }
}

@mixin basic--md() {}

@mixin basic--sm() {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mb {
    margin-bottom: 60px;
  }

}