@use '../utilities/variables' as vars;

// basico
html {
  scroll-behavior: smooth;
}

body {
  background-color: #232359;
}

.container {
  max-width: vars.$contenedor-width;
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
}

.title-wrapper-a {
  max-width: 50%;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  margin-bottom: 60px;

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.title-wrapper-b {
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;

  h2 {
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  p {
    text-align: left;
  }
}

.center-button-wrapper {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

// utils
.mt {
  margin-top: 100px;
}

.mt-sp {
  margin-top: 100px;
}

.mb {
  margin-bottom: 100px;
}

.pb {
  padding-bottom: 100px;
}

.pb-fix {
  padding-bottom: 1px;
}

.nm {
  margin-bottom: 0px;
}

// gradients
.gradient-home {
  background:
    radial-gradient(circle at top right,
      rgba(69, 81, 203, 0.7) 0%,
      rgba(69, 81, 203, 0.35) 20%,
      transparent 55%),
    linear-gradient(20deg,
      rgba(69, 81, 203, 0.8) 0%,
      rgba(69, 81, 203, 0.4) 35%,
      transparent 65%),
    #232359;
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-products {
  background:
    radial-gradient(circle at top right,
      rgba(69, 81, 203, 0.7) 0%,
      rgba(69, 81, 203, 0.5) 25%,
      rgba(69, 81, 203, 0.35) 50%,
      transparent 80%),
    #232359;
  background-repeat: no-repeat;
  background-size: cover;
}

// mobile - llamados en mobile.scss
@mixin basic--lg() {
  .title-wrapper-a {
    max-width: 100%;
  }

  .title-wrapper-b {

    h2,
    h3,
    p {
      text-align: center;
    }
  }

  .mt-sp {
    margin-top: 72px;
  }
}

@mixin basic--md() {}

@mixin basic--sm() {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mt,
  .mt-sp {
    margin-top: 60px;
  }

  .mb {
    margin-bottom: 60px;
  }

  .pb {
    padding-bottom: 80px;
  }
}